body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.gradient {
    background: #DE5B47;
    background: radial-gradient(circle,rgba(222, 91, 71, .5) 0%, rgba(0, 0, 0, 1) 100%);
    position: fixed;
    z-index: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

canvas {
    display: block;
    position: relative;
    z-index: 1;
}
