body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    .background {
        overflow: hidden;
        background-color: #de5945;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        .gradient {
            background: transparent;
            background: radial-gradient(circle,rgba(0,0,0,.5) 0%, rgba(0, 0, 0, 1) 100%);
            position: fixed;
            z-index: 0;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    }
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.pano-container {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 10;
    background-color: #000000;
}

.minipano-container {
    width: 172px;
    height: 172px;
    align-self: flex-end;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 4px;
}

.navigation {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    margin: 20px;
    margin-bottom: 16px;

    .sidebar {
        &.sidebar-left {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            display: inline-block;
            color: white;
        }

        &.sidebar-right {
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            display: inline-block;
            color: white;
        }

        &.sidebar-left--hidden {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 60px;
            width: 278px;
        }

        &.sidebar-right--hidden {
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 60px;
            width: auto;
            display: flex;
            align-items: flex-end;
        }

        & .search {
            width: 100%;
            padding: 10px;
            background-color: #1B1D28;
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(22px);
            border-radius: 10px;
            box-sizing: border-box;

            & input {
                box-sizing: border-box;
                border: 2px solid rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                height: 50px;
                width: 100%;
                background-color: transparent;
                padding: 10px;
                color: rgba(255,255,255,0.5);
            }

            & select {
                box-sizing: border-box;
                border: 2px solid rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                height: 50px;
                width: 100%;
                margin-top: 10px;
                background-color: transparent;
                padding: 10px;
                color: rgba(255,255,255,0.5);
            }
        }
        
        & ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;

            & li {
                display: inline-block;
            }
        }

        & .sidebar-button {
            width: 50px;
            height: 50px;
            background-color: #1B1D28;
            display: flex;
            border-radius: 10px;
            box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(22px);

            & svg {
                opacity: 0.5;
            }

            & img {
                margin: auto;
                opacity: 0.5;
                transition: all 0.3s ease;
            }

            &:hover {
                & svg {
                    opacity: 1;
                }

                & img {
                    opacity: 1;
                }
            }
        }

        & .buttons {
            display: flex;
            flex-direction: column;
            height: 100%;

            & .buttons-top {
                // align-self: flex-start;

                & .sidebar-button {
                    margin-bottom: 10px;
                }
            }
            
            & .buttons-bottom {
                margin-top: auto;
                // align-self: flex-end;

                & .sidebar-button {
                    margin-top: 10px;
                }
            }
        }

        .minipano {
            position: relative;

            & .sidebar-button--valume {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}
