body {
    margin: 0;
    overflow: hidden;
    background-color: #de5945;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;

    .gradient {
        background: transparent;
        background: radial-gradient(circle,rgba(0,0,0,.5) 0%, rgba(0, 0, 0, 1) 100%);
        position: fixed;
        z-index: 0;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}

canvas {
    display: block;
    position: relative;
    z-index: 1;
}

.navigation {
    position: relative;

    .navigation--header {
        position: fixed;
        z-index: 10;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        background-color: rgba(0,0,0,.5);
        text-align: center;

        ul {
            list-style-type: none;
            display: inline-block;
            padding: 0px;
            margin: 0px;
            height: 100%;

            li {
                display: inline-block;
                text-align: left;
                height: 100%;

                input {
                    height: 100%;
                    border: none;
                    background-color: rgba(0,0,0,.5);
                    color: #fff;
                    text-align: left;
                    padding: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 20px;
                    outline: none;
                    box-sizing: border-box;
                }
            }
        }
    }

    .navigation--footer {
        position: fixed;
        z-index: 10;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        background: #fff;
        text-align: center;

        ul {
            list-style-type: none;
            display: inline-block;
            padding: 0px;

            li {
                display: inline-block;
                margin-left: 10px;
                text-align: left;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }

    .navigation--top-footer {
        position: fixed;
        z-index: 10;
        bottom: 60px;
        left: 50px;
        right: 0px;
        height: 50px;
        background: transparent;
        text-align: right;

        ul {
            list-style-type: none;
            display: inline-block;
            padding: 0px;
            margin: 0px;

            li {
                display: inline-block;
                margin-right: 10px;
                text-align: right;

                .navigation--top-footer--button {
                    width: 50px;
                    height: 50px;
                    background-color: #fff;
                    border-radius: 5px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        // display: inline-block;
                        display: none;
                        margin: auto;
                    }
                }
            }
        }
    }

    .navigation--left-side {
        position: fixed;
        z-index: 9;
        bottom: 50px;
        top: 50px;
        left: -200px;
        width: 200px;
        background: #fff;
    }

    .navigation--right-side {
        position: fixed;
        z-index: 9;
        bottom: 50px;
        top: 50px;
        right: -200px;
        width: 200px;
        background: #fff;
    }
}
